In [6]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error

In [16]:
trainDf = pd.read_table("https://www.csie.ntu.edu.tw/~htlin/course/ml20fall/hw3/hw3_train.dat", header=None, names=["x1", "x2", "x3", "x4", "x5", "x6", "x7", "x8", "x9", "x10", "y"])
trainDf.insert(loc=0, column='x0', value=1)
trainDf.head()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,y
0,1,2.965153,2.447427,1.958754,-0.073541,-2.088459,-1.156375,-0.361324,1.621895,-4.510862,-0.006392,-1.0
1,1,-4.303194,-0.032933,2.568076,3.488505,1.726636,0.230978,1.483300,-4.560341,-0.949456,-0.744622,-1.0
2,1,-0.261568,0.974854,-1.132005,-0.495228,-1.851622,-4.663177,-0.368071,-4.031803,2.728657,4.001672,-1.0
3,1,-1.968794,2.500225,-0.230466,-0.063074,1.461600,-0.245143,0.248745,-3.694138,3.124973,1.567008,1.0
4,1,-1.383537,-3.535660,-2.023477,-0.592387,-0.790183,3.946650,1.643966,2.944593,-3.018274,-2.806245,-1.0

In [17]:
testDf = pd.read_table("https://www.csie.ntu.edu.tw/~htlin/course/ml20fall/hw3/hw3_test.dat", header=None, names=["x1", "x2", "x3", "x4", "x5", "x6", "x7", "x8", "x9", "x10", "y"])
testDf.insert(loc=0, column='x0', value=1)
testDf.head()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,y
0,1,1.406809,1.629765,0.137603,0.096895,-0.671920,0.086663,0.502709,4.436260,-0.019709,0.200252,1.0
1,1,-4.507169,-0.944514,-1.634057,-1.075809,-0.117050,1.328398,-0.349176,-4.273740,3.074277,1.056912,1.0
2,1,-1.559574,-4.985006,0.946881,-0.567474,1.249903,1.728784,-1.341989,2.405128,2.908434,0.312697,-1.0
3,1,0.657474,-0.884554,0.274763,0.561744,0.624655,1.556778,0.802202,-0.575164,1.164350,-4.950995,1.0
4,1,-0.533280,-1.945261,1.507659,1.944149,0.000440,1.010056,1.876235,1.531695,-0.302460,0.295303,-1.0

In [21]:
def problem14(trainD: pd.DataFrame) -> float:
    X, y = trainDf.drop(["y"], axis=1).to_numpy(), trainDf["y"].to_numpy()
    psuedoInverseX = np.linalg.pinv(X) 
    weightLIN = np.dot(psuedoInverseX, y)
    y_pred = np.dot(X, weightLIN)
    
    return mean_squared_error(y, y_pred)

MSE = problem14(trainDf)
print(f"Average squared error of Ein(Wlin) is {MSE}")

Average squared error of Ein(Wlin) is 0.6053223804672917

In [20]:
def problem15(trainDf: pd.DataFrame, seed: int) -> int:
    ...

Average squared error of Ein(Wlin) is 0.6053223804672917