In [22]:
import warnings

warnings.filterwarnings('ignore')

In [20]:
%matplotlib inline

import pickle
import random as rnd
import warnings

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sn
import seaborn as sns
import sklearn
import statsmodels.api as sm
import xgboost as xgb
from azureml.core.authentication import InteractiveLoginAuthentication
from azureml.core.experiment import Experiment
from azureml.core.workspace import Workspace
from azureml.train.automl import AutoMLConfig
from azureml.widgets import RunDetails
from matplotlib import pyplot
from matplotlib.font_manager import FontProperties
from sklearn import metrics
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import (LinearDiscriminantAnalysis,
                                           QuadraticDiscriminantAnalysis)
from sklearn.ensemble import (AdaBoostClassifier, BaggingClassifier,
                              ExtraTreesClassifier, GradientBoostingClassifier,
                              RandomForestClassifier, VotingClassifier)
from sklearn.feature_selection import (RFE, SelectFromModel, SelectKBest,
                                       VarianceThreshold, chi2)
from sklearn.inspection import permutation_importance
from sklearn.linear_model import (LinearRegression, LogisticRegression, PassiveAggressiveClassifier,
                                  Perceptron, RidgeClassifier, SGDClassifier)
from sklearn.metrics import (accuracy_score, balanced_accuracy_score,
                             classification_report, confusion_matrix, log_loss,
                             precision_score, recall_score, roc_auc_score)
from sklearn.model_selection import (GridSearchCV, KFold, RandomizedSearchCV,
                                     ShuffleSplit, StratifiedKFold,
                                     cross_val_score, train_test_split)
from sklearn.naive_bayes import (BernoulliNB, ComplementNB, GaussianNB,
                                 MultinomialNB)
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import (Binarizer, LabelEncoder, MinMaxScaler,
                                   Normalizer, OneHotEncoder,
                                   PolynomialFeatures, StandardScaler,
                                   normalize)
from sklearn.svm import SVC, LinearSVC
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier, XGBRFClassifier
from lightgbm import LGBMClassifier
from math import exp, log

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [11]:
df = pd.read_csv("../data/pretrain_label.csv")
df = df.drop(["arrival_date"], axis=1)

In [12]:
df["lnrevenue"] = df["revenue"].apply(lambda x: log(x))

In [13]:
df.head()

   label    revenue  lnrevenue
0    2.0  8133.6980   9.003771
1    1.0  3507.2961   8.162601
2    1.0  3643.1086   8.200593
3    1.0  3981.6194   8.289444
4    1.0  4046.5700   8.305625

In [14]:
new_train_x = df.drop(["label"], axis=1)
new_train_y = df["label"]

In [23]:
classifiers = [
               DecisionTreeClassifier(),
               XGBClassifier(),
               ExtraTreesClassifier(),
               RandomForestClassifier(),
               RidgeClassifier(),
               QuadraticDiscriminantAnalysis(),
               ComplementNB(),
               BernoulliNB(),
               GaussianNB(),
               MultinomialNB(),
               LinearDiscriminantAnalysis(),
               SGDClassifier(),
               AdaBoostClassifier(),
               BaggingClassifier(),
               LinearSVC(),
               KNeighborsClassifier(),
               XGBClassifier(),
               XGBRFClassifier(),
               LGBMClassifier()
               ]

from time import time

for clf in classifiers:
    
    before = time()
    print("="*30)
    print(clf.__class__.__name__)
    
    skf = StratifiedKFold(n_splits=5, shuffle=True)
    crossValScore = cross_val_score(clf, new_train_x, new_train_y, scoring='neg_mean_absolute_error', cv=skf)  
    crossValScore_mean = abs(np.mean(crossValScore)) 
    print("mean_absolute_error: {:.4}".format(crossValScore_mean))
    after = time()
    print(f"花費{(after - before):.1f}s")
    
print("="*30)

==============================
DecisionTreeClassifier
mean_absolute_error: 0.6766
花費0.0s
==============================
XGBClassifier
mean_absolute_error: 0.5453
花費0.5s
==============================
ExtraTreesClassifier
mean_absolute_error: 0.6766
花費0.5s
==============================
RandomForestClassifier
mean_absolute_error: 0.6672
花費0.7s
==============================
RidgeClassifier
mean_absolute_error: 0.5875
花費0.0s
==============================
QuadraticDiscriminantAnalysis
mean_absolute_error: nan
花費0.0s
==============================
ComplementNB
mean_absolute_error: 0.8625
花費0.0s
==============================
BernoulliNB
mean_absolute_error: 1.086
花費0.0s
==============================
GaussianNB
mean_absolute_error: 0.4797
花費0.0s
==============================
MultinomialNB
mean_absolute_error: 0.5625
花費0.0s
==============================
LinearDiscriminantAnalysis
mean_absolute_error: 0.4953
花費0.0s
==============================
SGDClassifier
mean_absolute_error: 1.942
花費0.1s
==============================
AdaBoostClassifier
mean_absolute_error: 0.8078
花費0.4s
==============================
BaggingClassifier
mean_absolute_error: 0.6281
花費0.1s
==============================
LinearSVC
mean_absolute_error: 2.391
花費0.4s
==============================
KNeighborsClassifier
mean_absolute_error: 0.5219
花費0.0s
==============================
XGBClassifier
mean_absolute_error: 0.5469
花費0.5s
==============================
XGBRFClassifier
mean_absolute_error: 0.4984
花費0.4s
==============================
LGBMClassifier
mean_absolute_error: 0.5422
花費1.7s
==============================

In [26]:
X_train, X_test, y_train, y_test = train_test_split(new_train_x, new_train_y, test_size=0.3)
model = XGBRFClassifier()
model = model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(f"Mean absolute error: {metrics.mean_absolute_error(y_test, y_pred):.2f}")

Mean absolute error: 0.53

In [56]:
df = pd.read_csv("../data/test.csv")
df["total_nights"] = df["stays_in_weekend_nights"] + df["stays_in_week_nights"]
df = df[df["total_nights"] > 0]
df["total_customers"] = df["adults"] + df["children"] + df["babies"]
df = df[df["total_customers"] <= 5]
df.shape

(27800, 31)

In [44]:
# testing_df = pd.read_csv("../data/test_data.csv")
testing_datedf = pd.read_csv("../data/test_nolabel.csv")
adr = pd.read_csv("../data/testing_adr_label.csv")

In [100]:
adr.describe()

                adr
count  27800.000000
mean      96.561608
std       35.505193
min        7.165013
25%       75.195244
50%       95.351570
75%      114.678452
max      287.254970

In [58]:
testingdf = df.copy()
testingdf["adr"] = adr.values
testingdf.head()

,ID,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,total_nights,total_customers,adr
0,91531,City Hotel,75,2017,April,13,1,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient,0,1,7,2.0,94.976340
1,91532,City Hotel,208,2017,April,13,1,4,10,2,0.0,0,SC,BRA,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,0,1,14,2.0,60.524933
2,91533,Resort Hotel,12,2017,April,13,1,2,5,2,0.0,0,Undefined,PRT,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,40.0,NaN,0,Contract,0,1,7,2.0,75.688600
3,91534,City Hotel,76,2017,April,13,1,2,5,3,0.0,0,BB,BEL,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient,0,0,7,3.0,113.164520
4,91535,City Hotel,9,2017,April,13,1,2,4,2,2.0,0,BB,FRA,Online TA,TA/TO,0,0,0,F,F,0,No Deposit,9.0,NaN,0,Transient,0,0,6,4.0,181.963560

In [60]:
def create_time_feature(df: pd.DataFrame, year: pd.Series, month: pd.Series, date: pd.Series) -> pd.Series:
    data = df.copy()
    data["date"] = pd.to_datetime(year.astype(str) + month + date.astype(str), format="%Y%B%d")
    data = pd.get_dummies(data, columns=["arrival_date_month"])
    data["weekday"] = data["date"].dt.weekday
    data["is_weekend"] = ((data["weekday"] == 5) | (data["weekday"] == 6)).astype("float")
    data = data.drop(["arrival_date_year", "arrival_date_day_of_month", "weekday"], axis=1)
    
    return data

testingdf = create_time_feature(testingdf, testingdf["arrival_date_year"], testingdf["arrival_date_month"], testingdf["arrival_date_day_of_month"])

In [92]:
newdf = testingdf[["date", "adr", "total_nights"]]
newdf["revenue"] = newdf["adr"] * newdf["total_nights"]

In [93]:
newdf = pd.DataFrame(newdf.groupby("date")["revenue"].agg("sum"))
newdf["lnrevenue"] = newdf["revenue"].apply(lambda x: log(x))
newdf

                  revenue  lnrevenue
date
2017-04-01   44798.480753  10.709930
2017-04-02   33514.324712  10.419728
2017-04-03   61304.133196  11.023603
2017-04-04   31495.550305  10.357602
2017-04-05   51045.344677  10.840470
2017-04-06   56139.049901  10.935587
2017-04-07   36099.138932  10.494024
2017-04-08   69023.592968  11.142204
2017-04-09   93018.978642  11.440559
2017-04-10   53207.295215  10.881951
2017-04-11   37878.028016  10.542126
2017-04-12   37948.001872  10.543972
2017-04-13   70051.645326  11.156988
2017-04-14   62835.029992  11.048268
2017-04-15   72661.628798  11.193569
2017-04-16   61802.912230  11.031706
2017-04-17   52956.567633  10.877227
2017-04-18   29724.865516  10.299739
2017-04-19   38330.096419  10.553991
2017-04-20   39907.327048  10.594315
2017-04-21   63526.671639  11.059215
2017-04-22   72499.337446  11.191333
2017-04-23   53581.162816  10.888953
2017-04-24   42460.358811  10.656326
2017-04-25   22920.996155  10.039809
2017-04-26   65493.202974  11.089702
2017-04-27   47981.700726  10.778575
2017-04-28   75531.096570  11.232300
2017-04-29   86026.667495  11.362413
2017-04-30   46455.110337  10.746242
2017-05-01   71680.786616  11.179978
2017-05-02   49734.561045  10.814455
2017-05-03   55651.054804  10.926856
2017-05-04   61569.969064  11.027930
2017-05-05   72744.317086  11.194706
2017-05-06   74148.911977  11.213831
2017-05-07   49645.360644  10.812660
2017-05-08   66863.194305  11.110404
2017-05-09   44602.668125  10.705549
2017-05-10   41944.155329  10.644094
2017-05-11   59210.620423  10.988856
2017-05-12   45650.682844  10.728774
2017-05-13   58328.994579  10.973855
2017-05-14   56178.633393  10.936292
2017-05-15   90148.136883  11.409210
2017-05-16   41195.151366  10.626076
2017-05-17   40425.802333  10.607224
2017-05-18   55322.686385  10.920938
2017-05-19   75851.632766  11.236535
2017-05-20   74871.504604  11.223529
2017-05-21   55454.351163  10.923315
2017-05-22   56090.487331  10.934722
2017-05-23   33098.431393  10.407241
2017-05-24   58414.712501  10.975323
2017-05-25   71298.157428  11.174626
2017-05-26   49017.625565  10.799935
2017-05-27   41491.765064  10.633250
2017-05-28   78621.571010  11.272401
2017-05-29   45085.936806  10.716326
2017-05-30   48392.301214  10.787096
2017-05-31   35849.502513  10.487085
2017-06-01   62066.125858  11.035956
2017-06-02   71929.281992  11.183439
2017-06-03   67809.035733  11.124451
2017-06-04   57208.831200  10.954464
2017-06-05   67847.745897  11.125021
2017-06-06   38959.841073  10.570287
2017-06-07   38559.324935  10.559953
2017-06-08   91335.519219  11.422295
2017-06-09   63194.433302  11.053971
2017-06-10   54695.615951  10.909539
2017-06-11   80238.935478  11.292764
2017-06-12   59757.055958  10.998043
2017-06-13   36012.874713  10.491632
2017-06-14   43772.015272  10.686750
2017-06-15   64981.691835  11.081861
2017-06-16   54503.907590  10.906028
2017-06-17   95563.810955  11.467549
2017-06-18   56470.786778  10.941479
2017-06-19   69749.651908  11.152668
2017-06-20   52268.821510  10.864155
2017-06-21   54551.608073  10.906902
2017-06-22   52956.967164  10.877235
2017-06-23   56907.723796  10.949186
2017-06-24   62986.107152  11.050669
2017-06-25   57014.696308  10.951064
2017-06-26   65740.284121  11.093467
2017-06-27   61366.463808  11.024619
2017-06-28   52755.692803  10.873427
2017-06-29   50355.372507  10.826861
2017-06-30   58263.216243  10.972726
2017-07-01   84004.204019  11.338622
2017-07-02   62020.980315  11.035228
2017-07-03   85602.344193  11.357468
2017-07-04   64153.096333  11.069028
2017-07-05   44649.147316  10.706590
2017-07-06   60294.155393  11.006990
2017-07-07   51162.607802  10.842764
2017-07-08   61470.058230  11.026305
2017-07-09   79726.561438  11.286358
2017-07-10   76563.480837  11.245875
2017-07-11   63835.475475  11.064064
2017-07-12   52899.756650  10.876154
2017-07-13   55312.683137  10.920758
2017-07-14   58530.435201  10.977302
2017-07-15  105372.813875  11.565260
2017-07-16   72453.460901  11.190700
2017-07-17   95787.135083  11.469884
2017-07-18   53358.847331  10.884795
2017-07-19   36098.092714  10.493995
2017-07-20   52570.658759  10.869913
2017-07-21   57039.805106  10.951505
2017-07-22   87919.186278  11.384173
2017-07-23   82401.157965  11.319355
2017-07-24   94512.531432  11.456488
2017-07-25   53015.549711  10.878341
2017-07-26   62099.405617  11.036492
2017-07-27   61969.178986  11.034392
2017-07-28   62355.526885  11.040608
2017-07-29   95436.152447  11.466213
2017-07-30   65616.003270  11.091575
2017-07-31   87391.151639  11.378149
2017-08-01   80703.790491  11.298541
2017-08-02   66285.447604  11.101726
2017-08-03   80088.384905  11.290886
2017-08-04   67535.271022  11.120405
2017-08-05   78842.566791  11.275208
2017-08-06   87641.791794  11.381013
2017-08-07  107922.210457  11.589166
2017-08-08   55299.056125  10.920511
2017-08-09   55463.497216  10.923480
2017-08-10   63799.670893  11.063503
2017-08-11   54469.850970  10.905403
2017-08-12   93240.978275  11.442943
2017-08-13   78427.949515  11.269936
2017-08-14   79732.420086  11.286432
2017-08-15   58135.498917  10.970532
2017-08-16   77040.816596  11.252091
2017-08-17   92967.147737  11.440001
2017-08-18   74915.999505  11.224123
2017-08-19   90338.731405  11.411322
2017-08-20   85370.452354  11.354755
2017-08-21   80668.357694  11.298102
2017-08-22   41243.905899  10.627259
2017-08-23   54249.508666  10.901349
2017-08-24   66656.010685  11.107301
2017-08-25   63131.140479  11.052969
2017-08-26   89740.277100  11.404675
2017-08-27   72902.804031  11.196882
2017-08-28  102286.650009  11.535534
2017-08-29   48722.028598  10.793887
2017-08-30   40193.194744  10.601453
2017-08-31   56322.283312  10.938846

In [95]:
x_out = newdf
y_pred = model.predict(x_out)

In [97]:
y_pred

array([6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6.,
       6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6.,
       6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6.,
       6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6.,
       6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6.,
       6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6.,
       6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6.,
       6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6.,
       6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6., 6.])